# Environment variables (MUST BE IGNORED)
.env
.env.*
*.env

# Virtual Environment
venv/
.venv/
env/

# Python cache & build files
__pycache__/
*.pyc
.pytest_cache/

# IDE / Editor files
.vscode/
.idea/